.pet-view {
    min-width: 500px;
}

.pet-view .split {
    display: flex; 
    flex-direction: row; 
}


/* Control the right side */
.right {
    width: 65%; 
}

.pet-view .left{
    width: 35%; 
    margin: 20px auto;
    height:500px;
    padding-right: 15px;
    display:grid;
    overflow: unset;
    margin: auto;
    justify-content: right;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    overflow:-moz-hidden-unscrollable;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.pet-view .left .box {
    background-color:#333;
    margin:20px;
    min-width: 180px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:20px;
    font-family:sans-serif;
}

.pet-view .right .menu {
    height: fit-content;
    margin: 20px auto;
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

}

.pet-view .right .menu .box {
    background-color:#FFF;
    padding:16px;
    border-radius:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    font-family:sans-serif;
}