:root {
    background-image: url(../assets/images/background-home.png);
    background-position: center;
    background-size: cover; /* Resize the background image to cover the entire container */

}

.welcome .title {
    font-size: 6vh;
    font-family: 'Arial Black';
    font-weight: 900;
    color: #171a5f;
    text-shadow: 2px 2px #777acd;
}

.welcome .title:hover {
    color: #4428d1;
    text-shadow: 2px 2px #171a5f;
  }

.welcome .subtitle {
    font-size: 4vh;
    color: #171a5f;
    padding: 2vh;
    white-space: nowrap;
}

.welcome .subtitle:hover {
    color: #4428d1;
    text-shadow: 2px 2px #171a5f;
}

.welcome .welcomeImage {
    height: 28vw;
    max-height: 28vh;
}


