.pet-view .right .menu .container {
    height: fit-content;
    margin: 20px auto;
    display:grid;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}

.pet-view .right .menu .box {
    background-color:#FFF;
    padding:10px;
    border-radius:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
}